@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.cdnfonts.com/css/chunkfive-ex);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Work Sans", sans-serif;
}

button {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: "ChunkFive Ex", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 8px 20px;
  transition-duration: 0.3s;
}

.header {
  background-color: #111b4e;
  display: flex;
  padding: 0.7rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 98.5%;
}
.header__left {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 2rem;
}
.header__left--image {
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 35px;
}
.header__right {
  align-items: center;
  display: flex;
  gap: 1.8rem;
}
.header__right a {
  color: #fff;
}
.header__right img {
  border-radius: 100%;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 40px;
}

.footer {
  background-color: #ffffff;
  padding: 0.7rem;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  width: 98.5%;
}
.footer__left, .footer__right {
  align-items: center;
  display: flex;
}
.footer__right a {
  color: #111b4e;
}
.footer__left h3 {
  color: #d66d35;
  font-size: 1.4rem;
  font-weight: 800;
}

.login__holder {
  align-items: flex-end;
  background: #111b4e;
  display: flex;
  height: 95vh;
  justify-content: center;
  position: relative;
}
.login__background-image {
  aspect-ratio: 1/1;
  bottom: 10%;
  bottom: 2.5rem;
  height: 90%;
  left: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
.login__form {
  background-color: #ffffff;
  border-radius: 2.43rem 2.43rem 0 0;
  display: grid;
  gap: 1rem;
  min-width: 450px;
  padding: 3rem;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.login__title {
  color: #111b4e;
  font-size: 2rem;
}
.login__input--username, .login__input--password {
  border: solid 2px lightgray;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem 1rem;
  width: 100%;
}
.login__button {
  background: #d66d35;
  color: #ffffff;
}
.login__button:hover {
  background: #9e4c20;
  color: #d9d9d9;
}
.login__spacer {
  height: 7rem;
}
.login__bottom-links {
  display: flex;
  justify-content: center;
}
.login__bottom-links--password-forget {
  color: #cdcdcd;
}
.login__bottom-links--password-forget img {
  height: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 1rem;
}
.login__bottom-links--register {
  color: #d66d35;
}

.create {
  display: flex;
}
.create__holder {
  background-color: #ffffff;
  height: 15vh;
  margin: 3rem;
  padding: 0.8rem;
  width: 1000px;
}
.create__image {
  border-radius: 100%;
  height: 105px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 105px;
}
.create__form {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.create__input {
  color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 1rem;
  border: solid 2px #d3d3d3;
  height: 75px;
  outline: none;
  padding: 0.5rem 1rem;
  width: 800px;
}
.create__detail__form {
  display: flex;
  justify-content: center;
}
.create__details {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 1rem;
  padding: 1rem;
  width: 500px;
}
.create__details--title {
  background-color: #f4f4f4;
  border-radius: 1rem;
  border: solid 2px #d3d3d3;
  height: 40px;
  outline: none;
  padding: 0.5rem 1rem;
  width: 350px;
}
.create__details--description {
  background-color: #f4f4f4;
  border-radius: 1rem;
  border: solid 2px lightgray;
  height: 100px;
  outline: none;
  padding: 0.5rem 1rem;
  width: 350px;
}
.create__details--image {
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  padding: 6px 12px;
}
.create__details--button {
  background-color: #111b4e;
  color: #ffffff;
  cursor: pointer;
  margin: 1rem;
}
.create__header {
  display: flex;
  align-items: center;
}
.create__header--title {
  color: #111b4e;
  font-size: 2rem;
  font-weight: 800;
}
.create__header__discard {
  color: #111b4e;
  font-weight: 800;
  margin-left: 0.5rem;
}

label {
  padding-top: 1rem;
}
