.blog{
    &__detail{

        &__holder{
            background-color: $white-colour;
        }

        &__header{
            align-items: center;
            display: flex;
            justify-content: space-between ;
            padding: 0.5rem;
            width: 100%;

            &--inner {
                &-right,
                &-left {
                    display: flex;
                    align-items: center;
                }
            }

            &__image{
                &--profilePicture{
                    border-radius: 100%;
                    height: 40px;
                    object-fit: cover;
                    object-position: center center;
                    width: 40px;
                }

                &--edit,
                &--delete{
                    height: 1rem;
                    object-fit: contain;
                    width: 1rem;
                }
            }

            &__text{
                &--username{
                    color: $blue-colour;
                    font-weight: 800;
                }
        
                &--timestamp{
                    color: $orange-colour;
                }
            }
        }

        &__content{
            display: flex;
            flex-direction: column;
            
            &--image{
                max-height: 300px;
                object-fit: contain;
            }

            &--title{
                color: $blue-colour;
                font-size: 2.5rem;
                font-weight: 800;
                padding: 1.2rem;
            }

            &--description{
                color: lightgray;
                font-size: 1.2rem;
                padding: 1.2rem;
            }

            &--button{
                background-color: $white-colour;
                border: 1px solid $orange-colour;
                color: $orange-colour;
                margin: 1rem;
                text-align: center;
                width: 120px;
            }
        }

        &__comments{
            border-top: 2px solid $main-background-colour;
            font-size: 1rem;
            padding: 1rem;
            width: 100%;
            
            &--textComment{
                color: $orange-colour;
                font-size: 1rem;
                font-weight: 800;
            }

            &--profilePicture{
                border-radius: 100%;
                height: 40px;
                object-fit: cover;
                object-position: center center;
                padding: 0rem;
                width: 40px;
            }

            &--text{
                font-weight: 400;
                background-color: $main-background-colour;
                max-width: 60%;
                border-radius: 1rem;
                border: solid 2px lightgray;
                margin: 10px;
                outline: none;
                padding: 0.5rem 1rem;
            }

            &__commentsDiv{
                align-items: center;
                display: flex;
            }
        }
    }

    &__container{
        display: grid;
        margin-left: 30%;
        position: relative;
        top: -1400px;
        width: 60%;
    }
}

.sidebar{
    display: grid;
    align-self: flex-start;
    flex: 1;
    max-width: 25%;
    padding: 3rem;
}
