.blog{
    &__holder{
        background-color: $white-colour;
    }

    &__header{
        align-items: center;
        display: flex;
        justify-content: space-between ;
        padding: 0.5rem;
        width: 100%;

        &--inner {
            &-right,
            &-left {
                display: flex;
                align-items: center;
            }
        }

        &__image{
            &--profilePicture{
                border-radius: 100%;
                height: 40px;
                object-fit: cover;
                object-position: center center;
                width: 40px;
            }

            &--edit,
            &--delete{
                height: 1rem;
                object-fit: contain;
                width: 1rem;
            }
        }

        &__text{
            &--username{
                color: $blue-colour;
                font-weight: 800;
            }
    
            &--timestamp{
                color: $orange-colour;
            }
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        
        &--image{
            height: 200px;
            max-width: 100%;
            object-fit: cover;
        }

        &--title{
            color: $blue-colour;
            padding: 1.2rem;
            font-size: 2rem;
            font-weight: 800;
        }

        &--description{
            padding: 0.5rem;
            color: lightgray;
        }

        &--button{
            background-color: $white-colour;
            border: 1px solid $orange-colour;
            color: $orange-colour;
            margin: 1rem;
            text-align: center;
            width: 120px;
        }
    }

    &__comments{
        align-items: center;
        border-top: 2px solid $main-background-colour;
        padding: 1rem;

        &__existingComment{
            padding: 1rem;
            display: flex;
            width: 100%;
            &--text{
                background-color: $main-background-colour;
                border-radius: 1rem;
                margin: 10px;
                outline: none;
                padding: 0.5rem 1rem;
            }
        }

        &__add{
            display: flex;
        }

        &--profilePicture{
            border-radius: 100%;
            height: 40px;
            object-fit: cover;
            object-position: center center;
            padding: 0rem;
            width: 40px;
        }

        &--text{
            background-color: $main-background-colour;
            border-radius: 1rem;
            border: solid 2px lightgray;
            margin: 10px;
            outline: none;
            padding: 0.5rem 1rem;
        }
    }
}

.container:has(.blog__holder){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}