
.error {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    height: 89vh;
    justify-content: center;



    &__title {
        font-size: 8rem;
    }

    &__description {
        font-size: 1.8rem;
    }
}
