.following_users_table {
    display: grid;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90%;

    &__item{
        align-items: center;
        display: flex;
        gap: 8px;
        
        img {
            background-color: $white-colour;
            border-radius: 50%;
            max-height: 65px;
            max-width: 65px;
            object-fit: cover;
            object-fit: contain;
            padding: 0.4rem;
        }
    }
}