*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-background-colour;
    font-family: $default-font;
    overflow-x: hidden;
}

button {
    font-family: $default-font;
}

aside {
    width: 20%;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-family: $header-font;
    font-weight: 400;
}

a {
    text-decoration: none;
}
