.profile {
    &__container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2.5rem;
    }

    &__banner {
        height: 350px;
        width: 100%;

        &--image {
            object-fit: cover;
            width: inherit;
            height: inherit;
        }
    }

    &__main {
        @include sidebar{
            gap: 1.5rem;
            position: relative;
            top: -160px;
            max-width: 400px;
            flex-grow: 1;
        }

        .profile {

            &__picture {
                background: $white-colour;
                border-radius: 50%;
                display: flex;
                height: 300px;
                width: 300px;


                &--image {
                    border-radius: 50%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    padding: 0.8rem;
                    width: 100%;
                }
            }

            &__user {
                display: grid;
                gap: 0.8rem;

                &--name {
                    color: $orange-colour;
                    font-size: 1.9rem;
                }

                &--username {
                    color: $blue-colour;
                    font-size: 1.6rem;
                }

                &--description {
                    color: $gray-colour;
                }

                &--button {
                    @include blue_button;

                    width: 60%;
                }
            }

            &__categories {
                @include sidebar__block{

                }

                .categories {
                    &__holder {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        h3{
                            width: 100%;
                        }
                    }

                    &__item {
                        @include blue_outline_button;

                        &--all-blogs {
                            @include blue_button;
                        }

                        &--all-categories {
                            @include orange_button;
                        }
                    }
                }
            }
        }
    }

    &__info {
        flex-grow: 1;
    }
}
